<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
  
<form action="/auth/product" method="post"  enctype="multipart/form-data">
    <h2>Product</h2>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
    <label for="description">Description</label>
    <input type="text" id="description" name="description">
    <label for="price">Price</label>
    <input type="text" id="price" name="price" required>
    <label for="thumbnail">Thumbnail</label>
    <input type="file" class="form-control-file" id="image" name="thumbnail" placeholder="Thumbnail" required>
    <label for="quantity">Quantity</label>
    <input type="number" id="quantity" name="quantity" value="1" min="1" required>
    <button type="submit">Submit</button>
</form>



<!-- 

<form id="update-product" style="display: none;">
    <h2>Product</h2>
    <input type="hidden" id="update-id" name="id">
    <label for="update-name">Name</label>
    <input name="name" type="text" id="update-name" name="name" required>
    <label for="update-description">Description</label>
    <input name="description" type="text" id="update-description" name ="description">
    <label for="update-price">Price</label>
    <input name="price" type="text" id="update-price" name="price" required>
    <label for="update-thumbnail">Thumbnail</label>
    <input name="thumbnail" type="file" id="update-thumbnail" name="thumbnail" accept="image/*">
    <label for="update-quantity">Quantity</label>
    <input name="quantity" type="number" id="update-quantity" name="quantity" value="1" min="1" required>
    <button type="submit">Udate</button>
    <button type="button" id="cancel-update">Hủy</button>
</form> -->

    
</body>
</html>