<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/b7.css">
</head>
<body>
<div class="header">
    <img src="img/2.1.png" alt="Logo" class="logo">
    <div class="search-container">
        <span class="search-icon">&#128269;</span>
        <input type="text" class="search-input" placeholder="Search...">
    </div>
    <div class="text-container">0 Item($)-$0.00</div>
</div>

<div class="menu-p">
    <ul class="menu">
        <li class="menu-item">Home</li>
        <li class="menu-item">Women</li>
        <li class="menu-item">Men
            <ul class="dropdown">
                <li>Clothing(0)</li>
                <li>Coats(0)</li>
                <li>T-Shirt(0)</li>
                <li>Tennis(0)</li>
            </ul>
        </li>
        <li class="menu-item">Jewelry</li>
        <li class="menu-item">Books</li>
        <li class="menu-item">Clothing</li>
        <li class="menu-item">Jeans</li>
        <li class="menu-item">Accessories</li>
        <li class="menu-item">Blog</li>
        <li class="menu-item">The girl racing Bicycle</li>
    </ul>

</div>


</body>
</html>