<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h2 style="color: red;">About us</h2>
    <div class="about-us">
        <p>Menu</p>
        <ul>
            <li>name :</li>
            <li> adrress:</li>
            <li> phone :</li>
        </ul>
    </div>
</body>
</html>